<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="signup-response" class="myHeading text-center font-weight-bold b-2">Manage!</div>
    <div class="myDiv container-fluid">
        <div class="container d-inline-block">
            <h6 class="h5 p-3">
                <div class="badge badge-pill badge-dark text-light mt-2 mb-2 ml-2 mr-2 border border-secondary" >AIEP 2.0 Dashboard</div>      
                <!-- <blockquote class="blockquote text-dark-50 p-3 d-inline-block mr-5">
                    Track your progress here
                  </blockquote> -->
                <div class="blockquote d-inline-block mr-auto" style="float:right;"><button type="button"  class="btn btn-dark-50 dropdown-toggle d-inline-block" data-toggle="dropdown">
                    Notifications <span class="badge badge-primary">3</span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item text-center" href="#">TIMELINE</a>
                        <div class="dropdown-divider"></div>
                        <div class="text-muted m-2"><small>MONDAY, 29 OCTOBER</small></div>
                        <div class="alert alert-primary alert-dismissable fade show">
                          <button class="dropdown-item rounded" data-dismiss="alert" type="button"><span class="badge badge-pill badge-light">21:56</span> You edited dataset<span style="float: right;" >&nbsp;&nbsp;&times;</span></button>
                          <button class="dropdown-item rounded" data-dismiss="alert" type="button"><span class="badge badge-pill badge-light">21:52</span> You created dataset<span style="float: right;" >&nbsp;&nbsp;&times;</span></button>
                          <button class="dropdown-item rounded" data-dismiss="alert" type="button"><span class="badge badge-pill badge-light">12:03</span> You created Project: <small>Trial Run</small><span style="float: right;" >&nbsp;&nbsp;&times;</span></button>
                        </div>
                        </div>
                </button>
              </div>
            </h6>
            <hr>
             
          </div>
          <div class="row">
            <div class="card text-center col ml-3 mr-5">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">My Projects</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">My Items</a>
                      
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled " href="#">+ Create New Items</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Project: Trial Run  </h5>
                  <p class="card-text"><span class="fa fa-info-circle"></span> Project <i>Trial Run</i> was created by <strong class="text-muted">Abhinav Pandey</strong> on Oct 26th 2018 </p>
                  <a href="/playbox" class="btn btn-primary">Create New Project</a>
                </div>
                <div class="float-right"><small><span class="blockquote d-inline-block float-right"><button type="button" class="btn btn-sm btn-border-dark-50 dropdown-toggle d-inline-block" data-toggle="dropdown">
                    <span class="badge badge-primary">3</span> Views <span class="fa fa-eye"></span></button></span>
                    <span class="blockquote d-inline-block float-right mr-1"><button type="button" class="btn btn-sm btn-border-dark-50 dropdown-toggle d-inline-block" data-toggle="dropdown">
                        <span class="badge badge-primary">1</span> Favs <span class="fa fa-star-o"></span></button></span></small></div>
              </div>
              <div class="card text-center col mr-3">
                <h6 class="mt-1 badge badge-primary"><div>PROJECT-Trial Run</div></h6>
                  <div class="row">
                      <div class="col-4">
                        <div class="list-group mb-2" id="list-tab" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="list-flow-list" data-toggle="list" href="#list-flow" role="tab" aria-controls="home">Flow</a>
                          <a class="list-group-item list-group-item-action" id="list-lab-list" data-toggle="list" href="#list-lab" role="tab" aria-controls="profile">Lab</a>
                          <a class="list-group-item list-group-item-action" id="list-wiki-list" data-toggle="list" href="#list-wiki" role="tab" aria-controls="messages">Wiki</a>
                          <a class="list-group-item list-group-item-action" id="list-tasks-list" data-toggle="list" href="#list-tasks" role="tab" aria-controls="settings">Tasks</a>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="list-flow" role="tabpanel" aria-labelledby="list-home-list">
                              <img class="myImage" src="http://www.robots.ox.ac.uk/~vgg/data/lip_reading/img/portfolio/dataset.png" height="24" width="22"/>  
                              &nbsp;<span class="blockquote d-inline-block "><div class="mt-2">DATASET: 1</div></span>
                           <hr>
                              <img class="myImage" src="https://static.thenounproject.com/png/1632670-200.png" height="30" width="30"/>
                              <span class="blockquote d-inline-block mt-1"><div>MODEL: 0</div></span>
                           <hr>
                           <img class="myImage" src="https://image.flaticon.com/icons/png/512/76/76318.png" height="25" width="25"/>
                           &nbsp;<span class="blockquote d-inline-block mb-3"><div>RECIPE: 0</div></span>
                          </div>
                          <div class="tab-pane fade mt-5" id="list-lab" role="tabpanel" aria-labelledby="list-profile-list">
                              <img class="myImage" src='https://cdn0.iconfinder.com/data/icons/iconico-3/1024/60.png' height="35" width="35"/>  
                              &nbsp;<span class="blockquote d-inline-block "><div class="">NOTEBOOK: 1</div></span>
                              <hr>
                              <img class="myImage" src="https://static.thenounproject.com/png/71513-200.png" height="26" width="26"/>
                              &nbsp;<span class="blockquote d-inline-block "><div class="">ANALYSES: 0</div></span>
                          </div>
                          <div class="tab-pane fade" id="list-wiki" role="tabpanel" aria-labelledby="list-messages-list">
                              <img class="myImage" src="https://image.flaticon.com/icons/png/512/468/468079.png" height="26" width="26"/>
                              &nbsp;<span class="blockquote d-inline-block mt-5"><div class="">ARTICLES: 10</div></span>  
                              <hr>  
                              <img class="myImage" src="https://image.flaticon.com/icons/svg/1/1294.svg" width="24" height="26" alt="Quotation marks in speech bubble free icon" title="Quotation marks in speech bubble free icon">
                              &nbsp;<span class="blockquote d-inline-block "><div class="">CITATIONS: 1</div></span>     
                          </div>
                          <div class="tab-pane fade" id="list-tasks" role="tabpanel" aria-labelledby="list-settings-list">
                              <img class="myImage" src="https://image.flaticon.com/icons/png/512/81/81665.png" height="30" width="30"/>
                              &nbsp;<span class="blockquote d-inline-block mt-5 mr-2"><div class="">TASKS: 3</div></span>
                              <hr>
                              <div class="text-muted"><small>ONGOING: 2</small></div><div class="text-muted"><small>COMPLETED: 1</small></div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>  
            </div>  
    </div>
    <nav aria-label="...">
        <ul class="pagination mt-5 d-flex justify-content-center">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <br/>
<br/>
<br/>

  </body>
</html>